BOT_TOKEN=8949328206:AAGynf-35FwFZME21UpIvG3Pn5ESP35qZKM
# Namuna ID: o'zingizning /id natijangiz bilan almashtiring.
ADMIN_IDS=[123456789]
DATABASE_URL=postgresql+asyncpg://postgres:1212@localhost:55432/ryadom_bot
LOG_LEVEL=INFO
